body {
  margin: 0;
}

@import-normalize;

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --main-color: #0079FF;
  --main-color-hover: #60ABFF;

  --white: #FFF;

  --gray-50: #F6F8FF;
  --gray-100: #697C9A;
  --gray-200: #4B6A9B;
  --gray-300: #2B3442;
  --gray-400: #1E2A47;
  --gray-500: #141D2F;

  --error-color: #F74646;

  --shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);

  --border-rad: 15px;
}

body {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
}

body[data-theme='dark'] {
  background-color: var(--gray-500);
  --switcher-color: var(--white);
  --switcher-color-hover: var(--gray-100);
  --header-color: var(--white);
  --search-bg: var(--gray-400);
  --shadow: 0;
  --search-color: var(--white);
}

body[data-theme='light'] {
  --switcher-color: var(--gray-100);
  --switcher-color-hover: var(--gray-300);
  --header-color: var(--gray-300);
  background-color: var(--gray-50);
  --search-bg: var(--white);
  --shadow: var(var(--shadow));
  --search-color: var(--gray-300);
}

a {
  font-family: 'Space Mono', monospace;
}